:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  padding: 0;
}



body {
  /*font-family: 'Raleway', sans-serif;*/
  line-height: 1.6;
  background-color: #fff;
  height: 100%;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}

.mycontainer {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: #864747;
}

.welcome-message {
  font-size: 1.7em;
  margin-left: 30px;
  margin-top: 4vh;
  margin-bottom: 30px; 
  /*font-family: 'Raleway', sans-serif;*/
}

body .all-screenings {
  margin-top: 30px;  
  max-width: 1300px;
  }


.dashboard-display {
  margin-top: 2vh;
}


@media screen and (max-width: 1250px) {  
  body .inset-text {
  top: 530px;
  }

  .dropdown {
    right: 0vw;
    width: 100%;
    display: inline-flex;

  }

  .hamburger-signedin {
    padding-left: 100px;
  }

  ._3 {
    display: none;
  }

}

@media screen and (max-width: 1100px) {  


  .hamburger-signedin {
    padding-left: 50px;
  }

}

@media screen and (max-width: 1058px) {  
  
  ._3 {
    display: block;
  }
}


@media screen and (max-width: 999px) {  
  
  body .inset-text {
    font-size: 15px;
    top: 510px;
  }

  .carousel {
    max-height: 400px !important;
  }
}

@media screen and (max-width: 900px) {  
  
  body .inset-text {
    font-size: 14px;
    top: 500px;
  }
  
  .arrows {
  font-size: 30px;
  top: 450px;
  left: 340px;
  }

}

@media screen and (max-width: 770px) {  
  
  body .inset-text {
  font-size: 15px;
  top: 440px;
  }

  body .image-slide {
    top: -150px; 
  }
}

@media screen and (max-width: 680px) {  
body .image-slide {
    top: -180px; 
  }
  
body .inset-text {
  font-size: 15px;
  top: 410px;
  }

body h1 {
  font-size: 2.3rem;
  }  
}

@media screen and (max-width: 562px) {  
 
  body .inset-text {
  font-size: 11px;
  top: 410px;
  }


  body h1 {
  font-size: 0.85em;
  margin-top: -1.2vh;
  }

  .contacts-link {
  display: none;
}

  body .main-title-subdeck {
    display: none;
  }
  
  .welcome-message {
  margin-top: 25px;
}
  
  .carousel {
    max-height: 230px !important;
    margin-top: 1.7vh;
    max-height: 190px !important;
  }

  .welcome-message {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 476px) {  

  body .navbar-brand {
    font-size: 1.2em;  
  }
  .all-screenings-title {
    margin-left: 8vw !important;
  }

}


@media screen and (max-width: 440px) {  
  


.social-links {
    margin-left: -5vw;
  }

}


@media screen and (max-width: 380px) {  
  body .inset-text {
  left: 18px;
  font-size: 9px;
  top: 400px;
}

  body .social-links {
    margin-right: 50px !important;
  }
  
  body .navbar-brand {
    font-size: 1.1em;  
  }

  body h1 {
  font-size: 0.7em;
  margin-top: 1.2vh;
  }

 
  body .image-slide {
    top: -250px; 
  }

  .carousel {
    max-height: 190px !important;
  }


}

@media screen and (max-width: 362px) {  

body .navbar-brand {
    font-size: 1em;  
  }

body .inset-text {
  left: 16px;
  top: 400px;
}

.film {
    margin-left: -5px !important;
}

.films-list {
  border: 0px #864747 solid !important; 
}

.singleTicket {
  margin-left: -12px !important;

}

body h1 {
  font-size: 0.6em;
  margin-top: -1vh;;
  }
  
body .image-slide {
    top: -270px; 
  }
}

@media screen and (max-width: 338px) {  
body .inset-text {
  left: 16px;
  font-size: 8px;
  top: 400px;
}

  body .navbar-brand {
    font-size: 0.9em;  
  }


 body h1 {
  font-size: 0.5em;  
  }

  .film {
    margin-right: -2vw;
  }

  .carousel {
    max-height: 150px !important;
  }
  
}

@media screen and (max-width: 290px) {  
 body .inset-text {
  left: 14px;
  top: 390px;
}

 h1 {
  font-size: 0.45em;
  line-height: 1.1;
  margin-top: 16px;
  }
  
  body .image-slide {
    top: -300px; 
  }
}

/*ends media screens*/


.landing {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.films-link {
  font-size: 22px;
}

.landing-page-titles {
  color: #fff;  
  margin: auto;
  display: flex;
  float: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.guide-link {
  position: fixed;
  margin-top: 35px;
}

ul {
  list-style: none;
}

.btn {
  color: white;
  display: inline-block;
  background: var(--light-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-left: 1.4rem;
  margin-top: 1.7rem;
  width: auto;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.no-account {
  font-size: 25px;
  margin-left: 1.3rem;
  margin-top: 1.7rem;
}


img {
    width: 264px;
    object-fit: cover;
    max-height: 148px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.create-film-title {
  margin-left: 2vw;
}