.how-it-works {
	margin-left: 3vw;
	margin-bottom: 20px;
	line-height: 2.6;
}

.how-it-works-title {
    color: #864747 !important;
    font-family: Limelight;
    font-size: 1.5rem;
    margin-top: 40px;
}

.how-it-works-text {
	font-size: 20px;
	color: black;
	margin-left: -30px;
	margin-bottom: 150px;
/*	color: #864747 !important;*/
    font-family: Limelight;
}

ul {
/*	text-decoration: underline;*/
}

img {
	width: 1500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	margin-bottom: 50px;
}