.footer {
  position: fixed;
  display: inline-block;
  left: 0;
  height: 8vh;
  bottom: 0;
  width: 100%;
  background-color: #864747;
  color: white;
  text-align: center;
  /*max-width: 1300px;*/
  max-width: 100%;
  margin: 0 auto;
}

.footer-link {
	float: left;
  margin-left: 2vw;
  margin-top: 2vh;
}

.contacts-link {
  color: white !important;
  margin-left: 2vw;
  margin-top: 2vh;
}


.social-links {
  float: right;
  margin-right: -2vw;
  margin-top: 1vh;
}

.fa {
  padding: 8px;
  display: table-cell;
  font-size: 30px;
  width: 50px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  margin-top: 1vh;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: red;
  color: white;
}
