.tickets {
  display: flex;
  color: hsl(200, 10%, 30%);
  background-color: white;
  background-image: linear-gradient(to bottom left, $grey-dark, $grey);
  margin-top: 50px;
  margin-left: 9px;
  width: 280px;
  text-align: center;
  border: solid 1pt #864747;
}

.ticket {
    font-family: 'Limelight', cursive;
    text-align: center;
    width: 280px;
    min-width: 280px;
    color: black;
    margin: initial;
    margin-top: -3.5vh;
    margin-bottom: 2vh;
}


.ticket-stub {
  height: 70px;
  width: auto;
  margin-bottom: 20px;
}

.singleTicket {
  min-width: 270px;
  margin-left: 12px;
  margin-bottom: 20px;
}

.displayHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}