.img-slide {
	width: 100%;
    max-height: 500px; 
}

.carousel {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	width: 100%;	
    margin-left: 0.5vw;
    margin-top: 0vh;
}

.indicator {
	margin-left: 45% !important;
}