.navbar {
    margin-left: 20px;
}

.navbar-title {
    font-size: 25px;
}

.nav-left {
    margin-left: 0px;
}

.logo-float-left {
    float: left;
    left: 0;
}

.hamburger-signedout {
    float: right;
    margin-right: -10px;
    margin-left: 10vw;
    text-align: right;
    margin-top: 5px;
}

.hamburger-signedin {
    float: right;
    right: 0;
    margin-left: 5vw;
    text-align: right;
    margin-top: 4px;
}