.navbar {
    margin-left: 20px;
}

.navbar-title {
    color: #864747 !important;
    font-family: Limelight;
    font-size: 1.5rem;
}

.dropdown-item {
    padding: 10px;
}


.hamburger-signedout {
    float: right;
    margin-right: -10px;
    margin-left: 13vw;
    text-align: right;
    margin-top: 5px;
}

.hamburger-signedin {
    text-align: right;
    margin-top: 5px;
    padding-left: 270px;
}