
.film-border {}

.all-screenings {
  display: block;
  max-width: 93%;
  justify-content: center; 
  margin: auto;
  margin-top: -12vh;
  background-color: #D3D3D3;
}

.films-list {
  position: relative;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 5vh;
  padding-bottom: 4vh;
  margin-bottom: 14vh;
  
}


.all-screenings-title {
  color: #864747;
  font-size: 25px;
  margin-left: 20px;
  margin-top:4vh;
  margin-bottom: 8vh;
}

.film-page-title {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: #864747;
  text-align: center;
  margin-left: 2vw;
  margin-top:7vh;
  margin-bottom: 4vh;
  /*margin: 0 auto;*/
}

.film {
    font-family: 'Limelight', cursive;
    text-align: center;
    width: 280px;
    min-width: 280px;
    color: white;
    margin: initial;
    margin-top: -3.5vh;
    margin-bottom: 7vh;
    margin-left: 20px;
    border-top: dashed white 6pt;
    border-bottom: dashed white 6pt;
}

.view-all-link {
    margin-bottom: 9vh;
    margin-right: 7vw;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    color: #864747;
    float: right;
    position: relative;
    z-index: 4 !important;

}

.small-film-pic {
  width: 240px;
  height: 150px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 25px;
 }


.your-film-header {
  margin-bottom: -20px;
  margin-top: 30px;
  margin-left: 5px; 
}


.custom-button {
  max-width: 80%;
  height: 6vh;
  color: white;
  letter-spacing: 0.5px;
  padding: 0 35px 0 35px;
  font-size: 15px; 
  background-color: #864747;
  margin-bottom: 3vh;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  justify-content: center;

  &:hover {
    background-color: #511000;
    color: white;
    border: 1px solid black;
  }
}

.inset-text {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  font-size: 2em;
  color: #864747;
  left: 30px;
  top: 575px;
}

.film-border {
  background: black;
}